*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
    color: white;
}
body{
    background-color: black;
}
.main{
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/pics/members/btsnav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.main nav img{
    height: 60px;
    width: 65px;
    padding-right: 30px;
}
.main nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.main .nav-links{
    flex: 1;
    text-align: right;
}
.main .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.main .nav-links ul li a{
    color:aliceblue;
    text-decoration: none;
    font-size: 13px;
}
.main .nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #3382cb;
    display: block;
    margin: auto;
}
.main .nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.major{
    display: flex;
    flex-direction: row;
}
.major .awards{
    flex-direction: column;
    width: 50%;
}
.major .awards h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline #4f75e8;
}
.major .awards ul{
    position: absolute;
    box-sizing: border-box;
    padding-left: 70px;
}
.awards h1{
    padding-left: 80px;
}
.major .awards ul li{
    display: flex;
    background: rgba(255, 255, 255, 0.916);
    padding:10px 20px;
    font-weight: bold;
    color: #112851;
    margin:5px 0;
    transition:0.5s;
}
.major .achievements{
    padding-left: 200px;
    flex-direction: column;
    width: 50%;
}
.major .achievements h1{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline #4f75e8;
}
.major .achievements ul{
    position: absolute;
    width: 450px;
    box-sizing: border-box;
}
.major .achievements ul li{
    display: flex;
    background: rgba(255,255,255,.9);
    padding:10px 20px;
    color:#112851;
    font-weight: bold;
    margin:5px 0;
    transition:0.5s;
}
.major .awards ul li:hover{
    transform: scale(1.06);
    color: #205fbf;
}
.major .achievements ul li:hover{
    transform: scale(1.06);
    color: #205fbf;
}
.main nav .fa{
    display: none;
}
@media(max-width:700px){
    .main .text h1{
        font-size: 25px;
    }
    .main .nav-links ul li{
        display: block;
    }
    .main .nav-links{
        position: absolute;
        background: #000000;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index:2;
        transition: 1s;
    }
    .main nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .main .nav-links ul{
        padding:30px;
    }
    .major{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .major .achievements{
        padding-top: 2500px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        float: left;
        width: 50%;
        text-align: center;
    }
    li a {
        display: block;
        padding: 8px;
        text-decoration: none;
    }
      
      
}



