*{
    margin: 0;
    padding: 0;
    font-family: Rubik;
    color: white;
}
body{
    background-color: black;
}
.major{
    display: flex;
}
.major .awards h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline #4f75e8;
}
.major .awards ul{
    position: absolute;
    width: 450px;
    box-sizing: border-box;
    padding-left: 70px;
}
.awards h1{
    padding-left: 80px;
}
.major .awards ul li{
    display: flex;
    background: rgba(255, 255, 255, 0.916);
    padding:10px 20px;
    font-weight: bold;
    color: #112851;
    margin:5px 0;
    transition:0.5s;
}
.major .achievements{
    padding-left: 370px;
}
.major .achievements h1{
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: underline #4f75e8;
}
.major .achievements ul{
    position: absolute;
    width: 450px;
    box-sizing: border-box;
}
.major .achievements ul li{
    display: flex;
    background: rgba(255,255,255,.9);
    padding:10px 20px;
    color:#112851;
    font-weight: bold;
    margin:5px 0;
    transition:0.5s;
}
.major .awards ul li:hover{
    transform: scale(1.06);
    color: #205fbf;
}
.major .achievements ul li:hover{
    transform: scale(1.06);
    color: #205fbf;
}
