*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color: aliceblue;
    font-family: Rubik;
}
.main{
    height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/pics/members/btsnav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.main nav img{
    height: 60px;
    width: 65px;
    padding-right: 30px;
}
.main nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.main .nav-links{
    flex: 1;
    text-align: right;
}
.main .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.main .nav-links ul li a{
    color:aliceblue;
    text-decoration: none;
    font-size: 13px;
}
.main .nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #3382cb;
    display: block;
    margin: auto;
}
.main .nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
h1{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

img{
    width: 300px;
    height: 300px;
}

.first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 20px;
}

.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 20px;
}

.third{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 20px;
}

.fourth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 20px;
}

.fifth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-top: 20px;
}
.proof{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
.albums .first img:hover{
    transform:scale(1.06);
}

.albums .second img:hover{
    transform:scale(1.06);
}

.albums .third img:hover{
    transform:scale(1.06);
}

.albums .fourth img:hover{
    transform:scale(1.06);
}


.albums .fifth img:hover{
    transform:scale(1.06);
}

.albums .proof img:hover{
    transform:scale(1.06);
}